@import "../shared/styles/shared";
.energy {
    @include chart-container();
    @include tbl();
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

button {
    margin: 16px 8px;
}

mat-form-field {
    width: 30%;
}