<div class="paramgroup">
    <div fxLayout fxLayoutAlign="center">
        <h2 class="mat-h2">Parameter Group Configuration</h2>
    </div>

    <div class="action">
        <button mat-button (click)="addParamGroup()" color="accent">Add</button>
    </div>

    <ng-template #loader>
        <div class="loadedStyle">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
    <br>
    <section [ngStyle]="{'margin-top':'50px'}" *ngIf="loaded; else loader">
        <error *ngIf="errMessage" [message]="errMessage" [hidden]="errhidden"></error>
        <div [hidden]="hiddenData">
            <mat-accordion *ngIf="!hiddenData">
                <mat-expansion-panel class="panel" *ngFor="let item of dataSource">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Parameter Group : {{item.pg_name}}</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="inner-actions">
                        <button mat-icon-button matTooltip="Update machine" matTooltipPosition="below" (click)="update(item,'edit')">
                            <mat-icon aria-label="Update">edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Remove machine" matTooltipPosition="below" (click)="update(item,'delete')">
                            <mat-icon aria-label="Remove">delete</mat-icon>
                        </button>
                    </div>
                    <div [ngStyle]="{'margin-top':'10px'}" fxLayout fxLayoutAlign="center">
                        <strong>Parameters</strong>
                    </div>
                    <mat-table #table [dataSource]="item.imported_parameters" class="header-table">
                        <ng-container matColumnDef="paramName">
                            <mat-header-cell *matHeaderCellDef> Parameter Name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Parameter Name</span> {{element.paramName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="paramType">
                            <mat-header-cell *matHeaderCellDef> Parameter Type </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Parameter Type</span> {{element.paramType}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="defaultValue">
                            <mat-header-cell *matHeaderCellDef> Default Value </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Default Value</span> {{element.paramType == 'datetime' ? (element.defaultValue | date:'short') : element.defaultValue}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="length">
                            <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Size</span> {{element?.length || 0}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="criticality">
                            <mat-header-cell *matHeaderCellDef> Criticality </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Criticality</span> {{element.criticality}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="countedParam">
                            <mat-header-cell *matHeaderCellDef> Counted Parameter </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Counted Parameter</span> {{element.countedParam}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="realParam">
                            <mat-header-cell *matHeaderCellDef> Counted Parameter </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Counted Parameter</span> {{element.realParam}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-paginator showFirstLastButtons [ngStyle]="{'color': '#3e6ceb','font-size':'15px','font-weigth':'bold'}" (page)="pageEvent  = updateDataset($event)" [length]="datasetLength" [pageSize]="10" [pageSizeOptions]="[5,10,15,25,30]"></mat-paginator>


        </div>
    </section>
</div>