
<div fxLayout fxLayoutAlign="center">
   <h1>UPS - Dashboard</h1>
</div>
<div fxLayout class="summary" layout="row" flex fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" rowHeight="200px">
    <mat-card (click)="goTo('aircompressor')" class="c1 common-height" fxFlex="50%" fxFlex.gt-sm="100%" rowHeight="200px">
        <mat-card-content>
            <mat-card-title class="custom-title">
                <mat-icon mat-list-icon>insert_chart</mat-icon>
                <!-- <i class="fa fa-th" aria-hidden="true"></i> -->
                <span class="text">Air Compressor</span>
            </mat-card-title>
            <mat-grid-list cols="3" rowHeight="90px"></mat-grid-list>
            
        </mat-card-content>
        <div class="card-footer">
            <a (click)="onCardClick('aircompressor')">View</a>
        </div>
    </mat-card>


    <mat-card (click)="goTo('boiler')" class="c2 common-height" fxFlex="50%" fxFlex.gt-sm="100%" rowHeight="200px">
        <mat-card-content>
            <mat-card-title class="custom-title">
                <mat-icon mat-list-icon>insert_chart</mat-icon>
                <span class="text">Boiler</span>
            </mat-card-title>
            <mat-grid-list cols="3" rowHeight="90px"></mat-grid-list>
        </mat-card-content>
        <div class="card-footer">
            <a (click)="onCardClick('boiler')">View</a>
        </div>
    </mat-card>
    
</div>

<div fxLayout class="summary" layout="row" flex fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <mat-card (click)="goTo('chiller')" class="c3 common-height" fxFlex="50%" fxFlex.gt-sm="100%">
          <mat-card-content>
              <mat-card-title class="custom-title">
                  <mat-icon mat-list-icon>insert_chart</mat-icon>
                  <span class="text">Chiller</span>
              </mat-card-title>
              <mat-grid-list cols="3" rowHeight="90px"></mat-grid-list>
              
          </mat-card-content>
          <div class="card-footer">
              <a (click)="onCardClick('chiller')">View</a>
          </div>
      </mat-card>
      <mat-card (click)="goTo('coolingtower')" class="c4 common-height" fxFlex="50%" fxFlex.gt-sm="100%">
          <mat-card-content>
              <mat-card-title class="custom-title">
                  <mat-icon mat-list-icon>insert_chart</mat-icon>
                  <span class="text">Cooling Tower</span>
              </mat-card-title>
              <mat-grid-list cols="3" rowHeight="90px"></mat-grid-list>
              
          </mat-card-content>
          <div class="card-footer">
              <a (click)="onCardClick('coolingtower')">View</a>
          </div>
      </mat-card>
</div>