<div class="user">
    <div fxLayout fxLayoutAlign="center">
        <h2 class="mat-h2">User Configuration</h2>
    </div>

    <div class="action">
        <button matTooltip="Add User" mat-button (click)="addUser()" color="accent">Add</button>
    </div>

    <ng-template #loader>
        <div class="loadedStyle">
            <app-spinner></app-spinner>
        </div>
    </ng-template>

    <section [ngStyle]="{'margin-top':'50px'}" *ngIf="loaded; else loader">
        <error *ngIf="errMessage" [message]="errMessage" [hidden]="errhidden"></error>

        <div [hidden]="hiddenData">
            <mat-accordion *ngIf="!hiddenData">
                <mat-expansion-panel class="panel" *ngFor="let item of dataSource">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Name: {{item.name}} | Role: {{item.uiRole[0].role}}</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="inner-actions">
                        <button mat-icon-button matTooltip="Update User" matTooltipPosition="below" (click)="update(item,'edit')">
                                <mat-icon aria-label="Update">edit</mat-icon>
                            </button>
                        <button mat-icon-button matTooltip="Remove User" matTooltipPosition="below" (click)="update(item,'delete')">
                                <mat-icon aria-label="Remove">delete</mat-icon>
                            </button>
                    </div>
                    <div fxLayout [ngStyle]="{'margin-top':'10px'}">
                        <strong>User Details</strong>
                    </div>
                    <div fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="40px" class="contain">
                        <div fxFlex="50%" fxFlex.gt-sm="100%">
                            <div>User Name: {{item.username}}</div>
                            <div>Email: {{item.email}}</div>
                        </div>
                        <div fxFlex="50%" fxFlex.gt-sm="100%">
                            <div>Password: {{item.password}}</div>
                            <div> ContactNo : {{item.mobile}}</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-paginator showFirstLastButtons [length]="datasetLength" [ngStyle]="{'color': '#3e6ceb','font-size':'15px','font-weigth':'bold'}" (page)="pageEvent = updateDataset($event)" [pageSize]="10" [pageSizeOptions]="[5,10,15,25,30]"></mat-paginator>
        </div>
    </section>
</div>