<h2 mat-dialog-title>{{dialog.title}}</h2>
<ng-template [ngIf]="showTable">
    <form [formGroup]="table" (ngSubmit)="onSubmit(table.value)">
        <mat-dialog-content>
            <mat-form-field>
                <input matInput formControlName="table_name" placeholder="Table Name">
                <mat-error *ngIf="table.get('table_name').hasError('required')">
                    Table Name is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Table Type" formControlName="table_type">
                    <mat-option *ngFor="let type of tableType" [value]="type">{{type}}</mat-option>
                </mat-select>
                <mat-error *ngIf="table.get('table_type').hasError('required')">
                    Table Type is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <mat-error *ngIf="tableValidation">unable to create table for this report</mat-error>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="!table.valid || loading">{{dialog.btnCaptions.ok}}</button>
            <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </form>
</ng-template>

<ng-template [ngIf]="showHeader">
    <form [formGroup]="header">
        <mat-dialog-content>
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center">
                <div fxFlex="100%" fxLayoutGap="30px">
                    <mat-form-field>
                        <input matInput placeholder="Header Name" formControlName="heading">
                        <mat-error *ngIf="header.get('heading').hasError('required')">
                            Header Name is
                            <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="header.get('heading').hasError('incorrect')">
                            <strong> Already existing</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Unit" formControlName="unit">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Parameter" formControlName="param_type" (change)="onParamChange($event.value)">
                            <mat-option *ngFor="let param of parameters" [value]="param">
                                {{param.param_name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="header.get('param_type').hasError('required')">
                            Parameter is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center">
                <div fxFlex="100%" fxLayoutGap="30px">
                    <mat-form-field>
                        <mat-select formControlName="sequence_no" placeholder="Sequence No">
                            <mat-option *ngFor="let sno of sequenceNumbers" [value]="sno">
                                {{sno}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="header.get('sequence_no').hasError('required')">
                            Sequence No is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="showCalculation">
                        <mat-select formControlName="calculation" placeholder="Calculation">
                            <mat-option *ngFor="let calculation of calculationList" [value]="calculation">
                                {{calculation}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button [disabled]="!header.valid" (click)="addHeader()" color="accent">Add Header</button>
                </div>
            </div>
            <mat-table [dataSource]="dataSource" class="header-table mat-elevation-z3">
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button (click)="removeHeader()">
                            <mat-icon aria-label="delete">delete</mat-icon>
                        </button>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">
                            <button mat-icon-button (click)="removeHeader()">
                                <mat-icon aria-label="delete">delete</mat-icon>
                            </button>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </span>
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="heading">
                    <mat-header-cell *matHeaderCellDef> Header Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">header name</span> {{element.heading}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="unit">
                    <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Unit</span> {{element.unit}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="param_type">
                    <mat-header-cell *matHeaderCellDef> Parameter Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Parameter name</span>{{element.param_type.param_name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="sequence_no">
                    <mat-header-cell *matHeaderCellDef> Sequence Number</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Sequence no.</span> {{element.sequence_no}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="calculation">
                    <mat-header-cell *matHeaderCellDef>Calculation</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Calculation</span> {{element.calculation}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </mat-row>
            </mat-table>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="!validHeader" (click)="onSubmit(dataSource.data)">Submit</button>
            <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </form>
</ng-template>


<ng-template [ngIf]="showUpdateHeader">
    <form [formGroup]="header">
        <mat-dialog-content>
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center">
                <div fxFlex="100%" fxLayoutGap="30px">
                    <mat-form-field>
                        <input matInput placeholder="Header Name" formControlName="heading">
                        <mat-error *ngIf="header.get('heading').hasError('incorrect')">
                            <strong>duplicate header</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Unit" formControlName="unit">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Parameter" formControlName="param_type" [ngModel]="setParam" [compareWith]="compareParam" (change)="onParamChange($event.value)">
                            <mat-option *ngFor="let param of parameters" [value]="param">
                                {{param.param_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center">
                <div fxFlex="100%" fxLayoutGap="30px">
                    <mat-form-field>
                        <mat-select formControlName="sequence_no" placeholder="Sequence No">
                            <mat-option *ngFor="let sno of [1,2,3,4,5,6]" [value]="sno">
                                {{sno}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="showCalculation">
                        <mat-select formControlName="calculation" placeholder="Calculation">
                            <mat-option *ngFor="let calculation of calculationList" [value]="calculation">
                                {{calculation}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="!header.valid" (click)="headersOpearation(header.value)">Submit</button>
            <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </form>
</ng-template>

<ng-template [ngIf]="previewHeaders">
    <mat-dialog-content>
        <div fxLayout fxLayoutAlign="center">
            <h3 mat-dialog-title>Table Name : {{dialog.details.table_name}} </h3>
        </div>
        <mat-table [dataSource]="tempData" class="header-table">
            <ng-container [matColumnDef]="column.heading" *ngFor="let column of unitColunmForHeaders">
                <mat-header-cell *matHeaderCellDef fxFlex="100px"> 
                    {{column.heading}}
                    <span *ngIf="column?.unit">({{column.unit}})</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="100px">{{element[column.heading]}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="dataColunmForHeaders"></mat-header-row>
            <mat-row *matRowDef="let row; columns: dataColunmForHeaders;"></mat-row>
        </mat-table>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</ng-template>

<ng-template [ngIf]="showDelete">
    <mat-dialog-content>
        Do you want to delete
        <strong>{{title}}</strong>?
    </mat-dialog-content>
    <mat-dialog-actions [style.marginTop.px]="10">
        <button mat-raised-button [disabled]="loading" (click)="update(dialog.details,dialog.mode,dialog.model,dialog.header)" [ngStyle]="{backgroundColor:'#FE3F5F',color:'#FFF'}">{{dialog.btnCaptions.ok}}</button>
        <button mat-button mat-dialog-close>Cancel</button>
        <app-spinner *ngIf="loading"></app-spinner>
    </mat-dialog-actions>
</ng-template>