<h2 mat-dialog-title>{{dialog.title}} Machine</h2>
<form *ngIf="dialog.mode !== 'delete'; else deleteForm" [formGroup]="machine" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab label="Machine">
                <div [ngStyle]="{'padding-top':'10px'}">
                    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center">
                        <div fxFlex="100%" fxLayoutGap="30px">
                            <mat-form-field>
                                <input matInput placeholder="MachineName" formControlName="machineName">
                                <mat-error *ngIf="machine.get('machineName').hasError('required')">
                                    Machine name is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Plant" formControlName="plants" (change)="onPlantChange($event.value)">
                                    <mat-option *ngFor="let plant of plantOption" [value]="plant.id">{{plant.plantName}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="machine.get('plants').hasError('required')">
                                    Plant is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Department" formControlName="departments" (change)="onDepartmentChange($event.value)">
                                    <mat-option *ngFor="let department of deptOption" [value]="department.id">{{department.deptName}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="machine.get('departments').hasError('required')">
                                    Department is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Assembly" formControlName="assemblys">
                                    <mat-option *ngFor="let a of assembly" [value]="a.id">{{a.assemblyName}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="machine.get('assemblys').hasError('required')">
                                    Assembly is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <span [hidden]="hide">
                                <mat-form-field>
                                    <mat-select placeholder="Associated Machine" formControlName="assosiativeMachineName">
                                        <mat-option *ngFor="let m of machines" [value]="m">{{m}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="machine.get('assosiativeMachineName').hasError('required')">
                                        Associated machine is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </span>

                            <span [hidden]="hide">
                                <mat-form-field>
                                    <mat-select placeholder="Type" formControlName="machineType" (change)="onTypeChange($event)">
                                        <mat-option value="production">Production</mat-option>
                                        <mat-option value="energy">Energy</mat-option>
                                        <mat-option value="utility">Utility</mat-option>
                                        <mat-option value="compressor">Compressor</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="machine.get('machineType').hasError('required')">
                                        Machine type is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                            </span>



                            <mat-form-field>
                                <input matInput placeholder="Sequence Number" formControlName="sequenceNumber">
                                <mat-error *ngIf="machine.get('sequenceNumber').hasError('required')">
                                    Sequence no. is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="machine.get('sequenceNumber').hasError('pattern')">
                                    Enter valid
                                    <strong>sequence number</strong>
                                </mat-error>
                                <mat-error *ngIf="machine.get('sequenceNumber').hasError('min')">
                                    Enter
                                    <strong>greater than 0</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-checkbox  (change)="onChange($event)" formControlName="alarm">Alarm Table</mat-checkbox>

                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="CBM parameters" [ngStyle]="{'padding-top':'10px'}">
                <div *ngIf="hiddencol" [ngStyle]="{'padding':'10px'}">
                    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="25px">
                        <div fxFlex="100%">
                            <mat-form-field>
                                <input matInput  placeholder="PPM" formControlName="param1">
                                <mat-error *ngIf="machine.get('param1').hasError('pattern')">
                                    Enter valid
                                    <strong>PPM number</strong>
                                </mat-error>
                                <mat-error *ngIf="machine.get('param1').hasError('min')">
                                    PPM
                                    <strong>must be greater than 0</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                               <input matInput  type="number" min="1" max="60" placeholder="Maintenance (hrs)" formControlName="param2">
                            </mat-form-field>    
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab #tab [disabled]="invalid" label="Assig  Group" [ngStyle]="{'padding-top':'10px'}">
                <div [ngStyle]="{'padding':'10px'}">
                    <div fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="25px">
                        <div fxFlex="50%" fxFlex.gt-sm="100%">
                            Parameter Groups
                            <div class="textArea">
                                <div class="space"></div>
                                <div class="checkbox" *ngFor="let list of groups">
                                    <label class="container">
                                        <input type="checkbox" formControlName="pgIds" [checked]="list.selected" [value]="list.id" (change)="onCheckboxChange(list.id,$event)">{{list.pg_name}}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <mat-error *ngIf="machine.get('pgIds').hasError('incorrect')">
                                Please Check Import Parameters
                            </mat-error>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!machine.valid || loading">{{dialog.btnCaptions.ok}}</button>
        <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
        <app-spinner *ngIf="loading"></app-spinner>
    </mat-dialog-actions>
</form>
<ng-template #deleteForm>
    <mat-dialog-content>
        Do you want to delete
        <strong>{{dialog.details.machineName}}</strong>?
    </mat-dialog-content>
    <mat-dialog-actions [style.marginTop.px]="10">
        <button mat-raised-button [disabled]="loading" (click)="update(dialog.details,dialog.mode)" [ngStyle]="{backgroundColor:'#FE3F5F',color:'#FFF'}">{{dialog.btnCaptions.ok}}</button>
        <button mat-button mat-dialog-close>Cancel</button>
        <app-spinner *ngIf="loading"></app-spinner>
    </mat-dialog-actions>
</ng-template>