img {
    height: 30%;
    width: 30%;
    margin-left: 35%;
}

h2 {
    text-align: center;
}

.titleHead {
    text-align: left;
}

.headerstyle {
    width: 100%;
    background-color: aqua;
    height: 20%;
}

.user {
    mat-form-field {
        width: 100%;
    }
}