@import "../../shared/styles/shared";
.containe {
    margin-top: 40px;
}

mat-header-cell {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

mat-cell {
    text-transform: capitalize;
    text-align: center;
}

.action {
    float: right;
    position: relative;
    z-index: 99;
    top: 10px;
    right: 10px;
}