<div class="operator">
    <div fxLayout fxLayoutAlign="center">
        <h2 class="mat-h2">Operator Configuration</h2>
    </div>
    <div class="action">
        <button matTooltip="Assign Operator" mat-button (click)="addoperator()" color="accent">Assign Operator</button>
    </div>
    <ng-template #loader>
        <div class="loadedStyle">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
    <section [ngStyle]="{'margin-top':'50px'}" *ngIf="loaded; else loader">
        <error *ngIf="errMessage" [message]="errMessage" [hidden]="errhidden"></error>
        <div [hidden]="hiddenData">
            <mat-accordion *ngIf="!hiddenData">
                <mat-expansion-panel class="panel" *ngFor="let item of dataSource">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Operator Name: {{item.user_detail.username}}</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="inner-actions">
                        <button mat-icon-button matTooltip="Update operator" matTooltipPosition="below" (click)="update(item,'edit')">
                        <mat-icon aria-label="Update">edit</mat-icon>
                    </button>
                        <button mat-icon-button matTooltip="Remove operator" matTooltipPosition="below" (click)="update(item,'delete')">
                        <mat-icon aria-label="Remove">delete</mat-icon>
                    </button>
                    </div>
                    <div fxLayout [ngStyle]="{'margin-top':'10px'}">
                        <strong>Operator Details</strong>
                    </div>
                    <div fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="40px" class="contain">
                        <div fxFlex="50%" fxFlex.gt-sm="100%">
                            <div>Shift Name : {{item.shift_detail.shiftName}}</div>
                            <div>Form : {{item.shift_detail.shiftFrom}} | To : {{item.shift_detail.shiftTo}}</div>
                        </div>
                        <div fxFlex="50%" fxFlex.gt-sm="100%">
                            <div>Machine Name : {{item.machine_detail.machineName}}</div>
                            <div>Day : {{item.day}}</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-paginator showFirstLastButtons [ngStyle]="{'color': '#3e6ceb','font-size':'15px','font-weigth':'bold'}" (page)="pageEvent  = updateDataset($event)" [length]="datasetLength" [pageSize]="pageSize" [pageSizeOptions]="[5,10,15,25,30]"></mat-paginator>
        </div>
    </section>
</div>