@mixin tbl {
    .example-container {
        display: flex;
        flex-direction: column;
        max-height: 500px;
        min-width: 300px;
    }
    mat-header-cell {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
    mat-cell {
        text-align: right;
    }
    .mat-table {
        overflow: auto;
        max-height: 500px;
    }
    .mobile-label {
        display: none;
    }
    @media(max-width: 600px) {
        .mobile-label {
            width: 100px;
            display: inline-block;
            font-weight: bold;
            font-size: 10px;
            margin-right: 30px;
        }
        .mat-header-row {
            display: none;
        }
        .mat-row {
            flex-direction: column;
            align-items: start;
            padding: 8px 24px;
        }
    }
}

@mixin chart-container {
    .chart {
        margin-bottom: 20px;
        .loading-shade {
            border-radius: 2px;
            position: absolute;
            top: 0px;
            left: 0;
            bottom: 55px;
            right: 0;
            background: rgba(0, 0, 0, 0.15);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .chart-content {
            position: relative;
            margin: auto;
            width: 100%;
            display: block;
            canvas {
                //background-color: #fafafa;
                border-radius: 2px;
                height: 90vh;
                width: 100%;
                font-size: 10px;
            }
        }
    }
    @media(max-width: 600px) {
        mat-card .mobile-label {
            height: 200%;
        }
        .chart {
            margin-bottom: 20px;
            .loading-shade {
                border-radius: 2px;
                position: absolute;
                top: 0px;
                left: 0;
                bottom: 55px;
                right: 0;
                background: rgba(0, 0, 0, 0.15);
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .chart-content {
                position: relative;
                margin: auto;
                width: 100%;
                display: block;
                canvas {
                    //background-color: #fafafa;
                    border-radius: 2px;
                    max-height: 100%;
                    width: 100%;
                    font-size: 10px;
                }
            }
        }
    }
}

.col1{
    margin-top: 10px;
    background-color: #4381f1 !important;
    color: black;
    height: 190px;
    border: 1px solid #006eff !important;        
    color: white;
    text-shadow: none;
    padding-left: 10px;
    outline-style: outset;
    outline-width: thick;
    outline-color: #4381f1;
    border-radius: 0 !important;
    text-align : center;

}
.col2{
    margin-top: 10px;
    background-color: #f70e0ebf !important;
    color: black;
    height: 190px;
    border: 1px solid #f70e0ebf !important;
    color: white;
    text-shadow: none;
    padding-left: 10px;
    outline-style: outset;
    outline-width: thick;
    outline-color: #f70e0ebf;
    border-radius: 0 !important;
    text-align : center;
}
.col3{
    margin-top: 10px;
    background-color: #288c08cf !important;
    color: black;
    height: 190px;
    border: 1px solid #288c08cf !important;
    color: white;
    text-shadow: none;
    padding-left: 10px;
    outline-style: outset;
    outline-width: thick;
    outline-color: #288c08cf;
    border-radius: 0 !important;
    text-align : center;
}
.col4{
    margin-top: 10px;
    background-color: #f58007 !important;
    
    height: 190px;
    border: 1px solid #f58007 !important;
    color: white !important;
    text-shadow: none;
    padding-left: 10px;
    outline-width: thick;
    outline-style: outset;
    outline-color: #f58007;
    border-radius: 0 !important;
    text-align : center;
}
.col5{
    margin-top: 10px;
    background-color: #6c1d94 !important;
    color: black;
    height: 210px;
    border: 1px solid #6c1d94 !important;
    color: white;
    text-shadow: none;
    padding-left: 10px;
    outline-width: thick;
    outline-style: outset;
    outline-color: #6c1d94;
    border-radius: 0 !important;
    text-align : center;
}

.keyvalue {
    width :100%;
}
.keyItem {
    display: inline-block;
    text-align: right;
    width: 45%;
}
.colon {
    display: inline-block;
    width: 5%;
    text-align: center;
}
.valueItem {
    display: inline-block;
    width: 45%;
    text-align: left;
}


.example-container,.mat-elevation-z8 {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}
mat-header-cell {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
mat-cell {
    text-align: right;
}
.mat-table {
    overflow: auto;
    max-height: 500px;
}
.mobile-label {
    display: none;
}