<div class="product machine-air-compressor">
    <div fxLayout fxLayoutAlign="center">
        <h2 class="mat-h2">Boiler</h2>
    </div>
   <selection dashboardtype="boiler_report" (select)="onSelect($event)"></selection>
    <div fxLayout fxLayoutAlign="center" *ngIf="loadedSpinner">
        <app-spinner></app-spinner>
    </div>

    <div class="col-md-12" *ngIf='airData["steam_produced"] || !loadedSpinner'>
      <div class="col-md-6">
        <div class="thumbnail col1">
            <h4>Operational Data</h4>


            <div class="keyValue">
                <div class="keyItem"><span>Steam produced (TPH)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["steam_produced"]'>{{airData["steam_produced"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Feed water Flow (TPH)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["motor_current"]'>{{airData["motor_current"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Fuel Flow 1 (TPH)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["consumed_fuel_1"]'>{{airData["consumed_fuel_1"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Fuel Flow 2 (TPH)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["motor_current"]'>{{airData["consumed_fuel_2"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Fuel Flow 3 (TPH)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["motor_current"]'>{{airData["consumed_fuel_3"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Air Flow (TPH)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["air_flow"]'>{{airData["air_flow"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Steam pressure (Bar)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["steam_pressure"]'>{{airData["steam_pressure"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Steam temperature (mmWC</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["furnace_drought"]'>{{airData["furnace_drought"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>CO2/O2 monitoring (%)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["o2_co2"]'>{{airData["o2_co2"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Steam temperature (c)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["steam_temperature"]'>{{airData["steam_temperature"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Boiler feed air temperature (c)</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["feed_air_temperature"]'>{{airData["feed_air_temperature"] | number : '1.2-2'}}</span></div>
            </div>
            <div class="keyValue">
                <div class="keyItem"><span>Dryness fraction</span></div> 
                <div class="colon"><span> : </span></div>
                <div class="valueItem"><span ng-if='airData["dryness_fraction"]'>{{airData["dryness_fraction"] | number : '1.2-2'}}</span></div>
            </div>
            <!-- <p>Steam produced(TPH)  : <span ng-if='airData["steam_produced"]'>{{airData["steam_produced"]}}</span> </p>
            <p>Feed water Flow(TPH)   : <span ng-if='airData["feed_water"]'>{{airData["feed_water"]}}</span> </p>
            <p>Fuel Flow 1(TPH)   : <span ng-if='airData["consumed_fuel_1"]'>{{airData["consumed_fuel_1"]}}</span> </p>
            <p>Fuel Flow 2(TPH)    : <span ng-if='airData["consumed_fuel_2"]'>{{airData["consumed_fuel_2"]}}</span> </p>
            <p>Fuel Flow 3(TPH)    : <span ng-if='airData["consumed_fuel_3"]'>{{airData["consumed_fuel_3"]}}</span> </p>
            <p>Air Flow    : <span ng-if='airData["air_flow"]'>{{airData["air_flow"]}}</span> </p>
            <p>Steam pressure    : <span ng-if='airData["steam_pressure"]'>{{airData["steam_pressure"]}}</span> </p>
            <p>Furnace Draught     : <span ng-if='airData["furnace_drought"]'>{{airData["furnace_drought"]}}</span> </p> -->
            <!-- <p>CO2/O2 monitoring     : <span ng-if='airData["o2_co2"]'>{{airData["o2_co2"]}}</span> </p>
            <p>Steam temperature   : <span ng-if='airData["steam_temperature"]'>{{airData["steam_temperature"]}}</span> </p>
            <p>Boiler feed air temperature    : <span ng-if='airData["feed_air_temperature"]'>{{airData["feed_air_temperature"]}}</span> </p>
            <p>Dryness fraction     : <span ng-if='airData["dryness_fraction"]'>{{airData["dryness_fraction"]}}</span> </p> -->
            
        </div>
    
    </div>
    <div class="col-md-6">
        <div class="thumbnail col2">
          <h4>Energy Data :</h4>
          <div class="keyValue">
              <div class="keyItem"><span>ID fan Consumption (KWH)</span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["id_fan_consumption"]'>{{airData["id_fan_consumption"] | number : '1.2-2'}}</span></div>
          </div>
          <div class="keyValue">
              <div class="keyItem"><span>FD fan consumption (KWH)</span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["fd_fan_consumption"]'>{{airData["fd_fan_consumption"] | number : '1.2-2'}}</span></div>
          </div>
          <div class="keyValue">
              <div class="keyItem"><span>Feed water pump consumption (KWH)</span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["feed_water_pump_consumption"]'>{{airData["feed_water_pump_consumption"] | number : '1.2-2'}}</span></div>
          </div>
          <div class="keyValue">
              <div class="keyItem"><span>ID fan current (AMP)</span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["id_fan_current"]'>{{airData["id_fan_current"] | number : '1.2-2'}}</span></div>
          </div>
          <div class="keyValue">
              <div class="keyItem"><span>FD fan Current (AMP)</span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["fd_fan_current"]'>{{airData["fd_fan_current"] | number : '1.2-2'}}</span></div>
          </div>
          <div class="keyValue">
              <div class="keyItem"><span>Feed water Current (AMP)</span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["feed_water_pump_current"]'>{{airData["feed_water_pump_current"] | number : '1.2-2'}}</span></div>
          </div>
         
        </div>
    
    </div>
    <div class="col-md-6">
        <div class="thumbnail col3">
          <h4>Efficiency Data :</h4>
          <div class="keyValue">
              <div class="keyItem"><span>Direct efficiency (%)</span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["direct_efficiency"]'>{{airData["direct_efficiency"] | number : '1.2-2'}}</span></div>
          </div>
          <div class="keyValue">
              <div class="keyItem"><span>Steam / fuel ratio</span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["steam_fuel_ratio"]'>{{airData["steam_fuel_ratio"] | number : '1.2-2'}}</span></div>
          </div>
          <div class="keyValue">
              <div class="keyItem"><span>Air/ fuel ratio  </span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["air_fuel_ratio"]'>{{airData["air_fuel_ratio"] | number : '1.2-2'}}</span></div>
          </div>
                          
        </div>
    
    </div>
    <div class="col-md-6 alaram-ele" (click) ="goTo('machinealaram')">
        <div class="thumbnail col4">
          <h4>Alarms :</h4>
          <div class="keyValue">
              <div class="keyItem"><span>No. of ID Fan Trip  </span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["id_trip"]'>{{airData["id_trip"] | number : '1.2-2'}}</span> </div>
          </div>
          <div class="keyValue">
              <div class="keyItem"><span>No. of FD fan Trip  </span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["fd_trip"]'>{{airData["fd_trip"] | number : '1.2-2'}}</span> </div>
          </div>
          <div class="keyValue">
              <div class="keyItem"><span>No. of Feed Water Pump Trip   </span></div> 
              <div class="colon"><span> : </span></div>
              <div class="valueItem"><span ng-if='airData["bfp_trip"]'>{{airData["bfp_trip"] | number : '1.2-2'}}</span></div>
          </div>
          <!-- <p>No. of ID Fan Trip  : <span ng-if='airData["id_trip"]'>{{airData["id_trip"]}}</span> </p>
          <p>No. of FD fan Trip   : <span ng-if='airData["fd_trip"]'>{{airData["fd_trip"]}}</span> </p>
          <p>No. of Feed Water Pump Trip   : <span ng-if='airData["bfp_trip"]'>{{airData["bfp_trip"]}}</span> </p> -->
          <!-- <p>Current : <span ng-if='airData["motor_current"]'>{{airData["motor_current"]}}</span> </p> -->
          <!-- <span ng-if='airData["specific_power_consumption"]'>{{airData["specific_power_consumption"] | number : '1.2-2'}}</span> -->
        </div>
    
    </div>
    </div>
 
</div>

<div class="col-md-12" *ngIf='!airData["steam_produced"] && !loadedSpinner'>
  <div class="no-record">
       No Records Found
  </div>
</div>
<ng-template #other_content_found class="no-record">No Records Found</ng-template>
<div class="col-md-12" *ngIf='!loadedSpinner'>
    <h3>Production Data</h3>
    <div class="chart-content" *ngIf='lineChartData;else other_content_found'>
      <canvas baseChart *ngIf="lineChartData" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [colors]="lineChartColors" chartType="line"></canvas>
    </div>
  
  
</div>


<div class="col-md-12" *ngIf='!loadedSpinner'>
    <h3>Energy Data - Boiler</h3>
    <div class="chart-content" *ngIf='barChartDataID;else other_content_found'>
      <canvas baseChart *ngIf="barChartDataID" [datasets]="barChartDataID" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [colors]="chartColors" chartType="bar"></canvas>
    </div>
  
  
  </div>
  <div class="col-md-12" *ngIf='!loadedSpinner'>
      
      <div class="chart-content" *ngIf='barChartDataFD;else other_content_found'>
        <canvas baseChart *ngIf="barChartDataFD" [datasets]="barChartDataFD" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [colors]="chartColors" chartType="bar"></canvas>
      </div>
    
    
    </div>
    
    
    <div class="col-md-12" *ngIf='!loadedSpinner'>
        
        <div class="chart-content" *ngIf='barChartDataFWPC;else other_content_found'>
          <canvas baseChart *ngIf="barChartDataFWPC" [datasets]="barChartDataFWPC" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [colors]="chartColors" chartType="bar"></canvas>
        </div>
      
      
      </div>

<div class="mat-elevation-z8" *ngIf='!loadedSpinner'>
    <mat-table #aircompressortable [dataSource]="dataSource" *ngIf="dataSource.data.length" >

        <ng-container matColumnDef="{{header.value}}" *ngFor="let header of headerWithColumns">
            <mat-header-cell *matHeaderCellDef> {{header.headers}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[header.value]}} </mat-cell>
          </ng-container>
  
      <!-- Position Column -->
      <!-- <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container> -->
  
      <!-- Name Column -->
      <!-- <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container> -->
  
      <!-- Weight Column -->
      <!-- <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container> -->
  
      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container> -->
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="dataSource.data.length == 0" class="no-record">No Records found</div>
  
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <mat-paginator showFirstLastButtons [ngStyle]="{'color': '#3e6ceb','font-size':'15px','font-weigth':'bold'}" [pageSize]="10" [pageSizeOptions]="[5,10,15, 25,30]"></mat-paginator>
  </div>