<h2 mat-dialog-title>{{dialog.title}} Assembly</h2>
<form *ngIf="dialog.mode !== 'delete'; else deleteForm" [formGroup]="assembly" (ngSubmit)="onAssemblySubmit()">
    <mat-dialog-content>
        <div class="assembly" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px">
            <div fxFlex="50%" fxFlex.gt-sm="100%">
                <mat-form-field class="custom-form-field">
                    <mat-select placeholder="Plant" formControlName="plantId" (change)="onPlantChange($event.value)">
                        <mat-option *ngFor="let p of plants" [value]="p.id">{{p.plantName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="assembly.get('plantId').hasError('required')">
                        Plant is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
               </div>
               <div fxFlex="50%" fxFlex.gt-sm="100%">
                <mat-form-field class="custom-form-field">
                    <mat-select placeholder="Department" formControlName="deptId">
                        <mat-option *ngFor="let department of depts" [value]="department.id">{{department.deptName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="assembly.get('deptId').hasError('required')">
                        Department is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
               </div>
               <div fxFlex="50%" fxFlex.gt-sm="100%">
                <mat-form-field class="custom-form-field">
                    <input matInput placeholder="Enter Assembly Name" formControlName="assemblyName">
                    <mat-error *ngIf="assembly.get('assemblyName').hasError('required')">
                        Assembly is
                        <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="assembly.get('assemblyName').hasError('pattern')">
                        Enter valid
                        <strong>assembly name</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!assembly.valid || loading">{{dialog.btnCaptions.ok}}</button>
        <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
        <app-spinner *ngIf="loading"></app-spinner>
    </mat-dialog-actions>
</form>


<ng-template #deleteForm>
    <mat-dialog-content>
        Do you want to delete
        <strong>{{dialog.details.assemblyName}}</strong>?
    </mat-dialog-content>
    <mat-dialog-actions [style.marginTop.px]="10">
        <button mat-raised-button [disabled]="loading" (click)="update(dialog.details,dialog.mode)" [ngStyle]="{backgroundColor:'#FE3F5F',color:'#FFF'}">{{dialog.btnCaptions.ok}}</button>
        <button mat-button mat-dialog-close>Cancel</button>
        <app-spinner *ngIf="loading"></app-spinner>
    </mat-dialog-actions>
</ng-template>