<div class="highlight">
    <div fxLayout fxLayoutAlign="center">
        <h2 class="mat-h2">Highlight Configuration</h2>
    </div>
    <div class="back">
        <button mat-button (click)="onNavigate('/dashboard/config/report')" color="accent">Back to report</button>
    </div>
    <div class="action">
        <button [disabled]="validToAdd" mat-button (click)="add('add','highlight',report,data,0)" color="accent">Add Highlight</button>
    </div>
    <ng-template #loader>
        <div class="loadedStyle">
            <app-spinner></app-spinner>
        </div>
    </ng-template>

    <section [ngStyle]="{'margin-top':'50px'}" *ngIf="loaded; else loader">
        <error *ngIf="errMessage" [message]="errMessage" [hidden]="errhidden"></error>
        <div [hidden]="hiddenData">
            <mat-accordion *ngIf="!hiddenData">
                <mat-expansion-panel class="panel" [expanded]="item.open" *ngFor="let item of data">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Highlight: {{item.highlight_name}}</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="inner-actions">
                        <button mat-icon-button matTooltip="Update Highlight" matTooltipPosition="below" (click)="add('edit','highlight',item,item.highlight_id,0)">
                                <mat-icon aria-label="Update">edit</mat-icon>
                            </button>
                        <button mat-icon-button matTooltip="Remove Highlight" matTooltipPosition="below" (click)="add('delete','highlight',item,item.highlight_id,0)">
                                <mat-icon aria-label="Remove">delete</mat-icon>
                            </button>
                        <button mat-icon-button matTooltip="Add Parameter" matTooltipPosition="below" (click)="add('add','parameter',item,item.highlight_id,0)">
                                <mat-icon aria-label="Parameter">add</mat-icon>
                            </button>
                    </div>
                    <div fxLayout fxLayoutAlign="center" [ngStyle]="{'margin-top':'10px'}">
                        <strong>Parameters</strong>
                    </div>
                    <mat-table class="header-table" [dataSource]="item.parameters">
                        <ng-container matColumnDef="heading">
                            <mat-header-cell *matHeaderCellDef> Header Name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Header Name</span> {{element.heading}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="unit">
                            <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Unit</span> {{element?.unit || 0}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="param_type">
                            <mat-header-cell *matHeaderCellDef> Parameters </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Parameters</span> {{element.parameter.param_name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="sequence_no">
                            <mat-header-cell *matHeaderCellDef> Sequence Number</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Sequence Number</span> {{element.sequence_no}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="calculation">
                            <mat-header-cell *matHeaderCellDef>Calculation</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Calculation</span> {{element.calculation}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label"> Actions </span>
                                <button mat-icon-button matTooltip="Update Parameter" (click)="add('edit','parameter',element,item,0)">
                                        <mat-icon aria-label="Edit">edit</mat-icon>
                                    </button>
                                <button mat-icon-button matTooltip="Delete Parameter" (click)="add('delete','parameter',element,element.highlight_param_id,0)">
                                        <mat-icon aria-label="Delete">delete</mat-icon>
                                    </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-paginator showFirstLastButtons [ngStyle]="{'color': '#3e6ceb','font-size':'15px','font-weigth':'bold'}" [length]="datasetLength" (page)="updateDataset($event)" [pageSize]="10" [pageSizeOptions]="[5,10,15, 25,30]"></mat-paginator>
        </div>
    </section>
</div>