<h2 mat-dialog-title>{{dialog.title}} Plant</h2>
<form *ngIf="dialog.mode !== 'delete'; else deleteForm" [formGroup]="plant" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="plant" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px">
            <div fxFlex="100%" fxFlex.gt-sm="100%">
                <mat-form-field class="custom-form-field">
                    <input matInput placeholder="Plant name" formControlName="plantName">
                    <mat-error *ngIf="plant.get('plantName').hasError('required')">
                        Plant is
                        <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="plant.get('plantName').hasError('pattern')">
                        Enter valid
                        <strong>plant name</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!plant.valid || loading">{{dialog.btnCaptions.ok}}</button>
        <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
        <app-spinner *ngIf="loading"></app-spinner>
    </mat-dialog-actions>
</form>


<ng-template #deleteForm>
    <mat-dialog-content>
        Do you want to delete
        <strong>{{dialog.details.plantName}}</strong>?
    </mat-dialog-content>
    <mat-dialog-actions [style.marginTop.px]="10">
        <button mat-raised-button [disabled]="loading" (click)="update(dialog.details,dialog.mode)" [ngStyle]="{backgroundColor:'#FE3F5F',color:'#FFF'}">{{dialog.btnCaptions.ok}}</button>
        <button mat-button mat-dialog-close>Cancel</button>
        <app-spinner *ngIf="loading"></app-spinner>
    </mat-dialog-actions>
</ng-template>