<div class="chart">
    <div fxLayout fxLayoutAlign="center">
        <h2 class="mat-h2">Chart Configuration</h2>
    </div>
    <div class="back">
        <button mat-button (click)="onNavigate('/dashboard/config/report')" color="accent">Back to report</button>
    </div>
    <div class="action">
        <!-- [disabled]="validToAdd" -->
        <button mat-button (click)="add('add','chart',report)" color="accent">Add</button>
    </div>

    <ng-template #loader>
        <div class="loadedStyle">
            <app-spinner></app-spinner>
        </div>
    </ng-template>

    <section [ngStyle]="{'margin-top':'50px'}" *ngIf="loaded; else loader">
        <error *ngIf="errMessage" [message]="errMessage" [hidden]="errhidden"></error>
        <div [hidden]="hiddenData">
            <mat-accordion *ngIf="!hiddenData">
                <mat-expansion-panel class="panel" [expanded]="item.open" *ngFor="let item of dataSource">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Chart Name : {{item.chartName}} | Chart Data Type : {{item.chartDataType}}</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="inner-actions">
                        <button mat-icon-button matTooltip="Update chart" matTooltipPosition="below" (click)="update(item,'','edit','chart')">
                            <mat-icon aria-label="Update">edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Remove chart" matTooltipPosition="below" (click)="update(item,'','delete','chart')">
                            <mat-icon aria-label="Remove">delete</mat-icon>
                        </button>
                        <button mat-button (click)="add('add','label',item)">Add Label</button>
                    </div>

                    <h3 [ngStyle]="{'margin-top':'10px'}" class="mat-h3">Report Name : {{item.report.report_name}} | Sequence Number : {{item.sequenceNumber}}</h3>
                    <mat-divider></mat-divider>
                    <div fxLayout fxLayoutAlign="center">
                        <strong>{{item.chartType}} Chart</strong>
                    </div>
                    <div fxLayout fxLayoutAlign="end center" *ngIf="item.chartDataType==='summary' && item.chartType==='line'">
                       <span *ngIf="item.chartData.length!=0">
                                <button mat-icon-button matTooltip="chart color" matTooltipPosition="below" (click)="update(item,'','color view','color')">
                                        <mat-icon aria-label="color">color_lens</mat-icon>
                                 </button>
                        </span> 
                    </div>

                    <mat-table #table [dataSource]="item.chartData" class="header-table">

                        <ng-container matColumnDef="labelParameter">
                            <mat-header-cell *matHeaderCellDef> Label Parameter </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Label Parameter</span> {{element?.labelParameter.param_name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="labelColor">
                            <mat-header-cell *matHeaderCellDef> Label Color </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Label Color</span><canvas id="myCanvas" width="20" height="20" [ngStyle]="{ backgroundColor:element.labelColor }"></canvas></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="labelType">
                            <mat-header-cell *matHeaderCellDef> Label Type </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Label Type</span> {{element?.labelType}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="labelName">
                            <mat-header-cell *matHeaderCellDef> Label Name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Label Name</span> {{element?.labelName }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="calculation">
                            <mat-header-cell *matHeaderCellDef> Label Calculation </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label">Label Calculation</span> {{element?.calculation }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label"> Actions </span>
                                <button mat-icon-button matTooltip="Update label" (click)="update(item,element,'edit','label')">
                                    <mat-icon aria-label="Edit">edit</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Remove label" (click)="update(item,element,'delete','label')">
                                    <mat-icon aria-label="Edit">delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-paginator showFirstLastButtons [ngStyle]="{'color': '#3e6ceb','font-size':'15px','font-weigth':'bold'}" (page)="pageEvent  = updateDataset($event)" [length]="datasetLength" [pageSize]="10" [pageSizeOptions]="[5,10,15,25,30]"></mat-paginator>
        </div>
    </section>
</div>