<div class="product machine-air-compressor">
    <div fxLayout fxLayoutAlign="center">
        <h2 class="mat-h2">Chiller</h2>
    </div>
   <selection dashboardtype="chiller_report" (select)="onSelect($event)"></selection>
    <div fxLayout fxLayoutAlign="center" *ngIf="loadedSpinner">
        <app-spinner></app-spinner>
    </div>

    <div class="col-md-12" *ngIf='airData["net_heat_removed"] || !loadedSpinner'>
        <div class="col-md-6">
            <div class="thumbnail col1">
                <h4>Operational Data :</h4>
                <p>Net Heat Removed : <span ng-if='airData["net_heat_removed"]'>{{airData["net_heat_removed"]}}</span> </p>
                <p>KWH Of Refrigeration  : <span ng-if='airData["kwh_of_refrigeration"]'>{{airData["kwh_of_refrigeration"]}}</span> </p>
                <p>Flow Rate  : <span ng-if='airData["flow_rate"]'>{{airData["flow_rate"]}}</span> </p>
            </div>
        
        </div>
        <div class="col-md-6">
            <div class="thumbnail col2">
              <h4>Energy Data :</h4>
              <p>Energy Consumption  : <span ng-if='airData["energy_consumption"]'>{{airData["energy_consumption"]}}</span> </p>
              <p>Chiller Fan Power  : <span ng-if='airData["chiller_fan_power"]'>{{airData["chiller_fan_power"]}}</span> </p>
              <p>Compressor power  : <span ng-if='airData["compressor_power"]'>{{airData["compressor_power"]}}</span> </p>
              <p>Chiller Motor Current  : <span ng-if='airData["chiller_motor_current"]'>{{airData["chiller_motor_current"]}}</span> </p>
              <p>Compressor Motor Current  : <span ng-if='airData["compressor_motor_current"]'>{{airData["compressor_motor_current"]}}</span> </p>
              <span ng-if='airData["eer"]'>{{airData["eer"] | number : '1.2-2'}}</span>
            </div>
        
        </div>       
        <div class="col-md-6">
          <div class="thumbnail col3">
            <h4>Eficiency Data :</h4>
            <p>Specific Power consumption  : <span ng-if='airData["specific_power_consumption"]'>{{airData["specific_power_consumption"]}}</span> </p>
            <p>Energy Efficiency Ratio  : <span ng-if='airData["eer"]'>{{airData["eer"]}}</span> </p>
            <p>COP  : <span ng-if='airData["cop"]'>{{airData["cop"]}}</span> </p>
          </div>
      
      </div>
      <div class="col-md-6 alaram-ele" (click) ="goTo('machinealaram')">
        <div class="thumbnail col4">
          <h4>Alarms :</h4>
          <p>Chiller Fan Trip  : <span ng-if='airData["chiller_fan_trip"]'>{{airData["chiller_fan_trip"]}}</span> </p>
          <p>Compressor Motor Trip  : <span ng-if='airData["compressor_motor_trip"]'>{{airData["compressor_motor_trip"]}}</span> </p>
        </div>
    
    </div>
    </div>
 
</div>

<div class="col-md-12" *ngIf='!airData["net_heat_removed"] || !loadedSpinner'>
  <div class="no-record">
       No Records Found
  </div>
</div>
<ng-template #other_content_found class="no-record">No Records Found</ng-template>
<div class="col-md-12" *ngIf='!loadedSpinner'>
  <h3>Production Data- Chiller</h3>
  <div class="chart-content" *ngIf='lineChartData;else other_content_found'>
    <canvas baseChart *ngIf="lineChartData" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [colors]="lineChartColors" chartType="line"></canvas>
  </div>


</div>

<div class="col-md-12" *ngIf='!loadedSpinner'>
    <h3>Energy Data - Chiller</h3>
    <div class="chart-content" *ngIf='barChartDataEC;else other_content_found'>
      <canvas baseChart *ngIf="barChartDataEC" [datasets]="barChartDataEC" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [colors]="chartColors" chartType="bar"></canvas>
    </div>
  
  
  </div>
  <div class="col-md-12" *ngIf='!loadedSpinner'>
      
      <div class="chart-content" *ngIf='barChartDataCFC;else other_content_found'>
        <canvas baseChart *ngIf="barChartDataCFC" [datasets]="barChartDataCFC" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [colors]="chartColors" chartType="bar"></canvas>
      </div>
    
    
    </div>
    
    
    <div class="col-md-12" *ngIf='!loadedSpinner'>
        
        <div class="chart-content" *ngIf='barChartDataCEC;else other_content_found'>
          <canvas baseChart *ngIf="barChartDataCEC" [datasets]="barChartDataCEC" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [colors]="chartColors" chartType="bar"></canvas>
        </div>
      
      
      </div>



      <div class="col-md-12" *ngIf='!loadedSpinner'>
          <h3>Energy Data- Chiller</h3>
          <div class="chart-content" *ngIf='lineChartDataSecond;else other_content_found'>
            <canvas baseChart *ngIf="lineChartDataSecond" [datasets]="lineChartDataSecond" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [colors]="lineChartColors" chartType="line"></canvas>
          </div>
        
        
        </div>

<div class="mat-elevation-z8" *ngIf='!loadedSpinner'>
    <mat-table #aircompressortable [dataSource]="dataSource" *ngIf="dataSource.data.length" >
        <ng-container matColumnDef="{{header.value}}" *ngFor="let header of headerWithColumns">
            <mat-header-cell *matHeaderCellDef> {{header.headers}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[header.value]}} </mat-cell>
          </ng-container>
      <!-- Position Column -->
      <!-- <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container> -->
  
      <!-- Name Column -->
      <!-- <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container> -->
  
      <!-- Weight Column -->
      <!-- <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container> -->
  
      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container> -->
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="dataSource.data.length == 0" class="no-record">No Records found</div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <mat-paginator showFirstLastButtons [ngStyle]="{'color': '#3e6ceb','font-size':'15px','font-weigth':'bold'}" [pageSize]="10" [pageSizeOptions]="[5,10,15, 25,30]"></mat-paginator>
  </div>